* {
      font-family: 'Electrolize', sans-serif;
}

:root {
      --main-color: #114399;
}

.text-main {
      color: var(--main-color);
}

.bg-main {
      background-color: var(--main-color);
}

body {
      background-color: #ebecf0;
}

.card-custom {
      box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
      border-radius: 10px;
      padding: 10px 20px;
      transition: 0.2s;
}

.card-custom:hover {
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.card-custom:active {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.row-scrollable {
      height: 400px;
      overflow-y: scroll;
}

.modal-custom {
      display: block;
      position: fixed;
      left: 0px;
      top: 0px;
      z-index: -1;
      opacity: 0;
      width: 100%;
      height: 100%;
      padding-top: 20%;
      background-color: rgba(0, 0, 0, 0.5);
      transition: 0.2s;
}

.modal-custom-content {
      background-color: #ebecf0;
      margin: auto;
      width: 70%;
      padding: 30px;
      border-radius: 10px;
}

.modal-custom.active {
      padding-top: 100px;
      overflow-x: scroll;
      z-index: 10;
      opacity: 1;
}

.lead {
      font-size: 22px;
      text-shadow: #babecc;
}

/* elementi dell'istogramma (grafico) */
.pin-new {
      border-right: 2px solid rgba(0, 0, 255, 0.2);
      position: relative;
      width: 5px;
      margin-right: 5px;
}

.pin-new::after {
      position: absolute;
      content: "";
      top: 0px;
      right: -3px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: blue;
}

.pin-death {
      border-right: 2px solid rgba(255, 0, 0, 0.2);
      position: relative;
      width: 5px;
      margin-right: 5px;
}

.pin-death::after {
      position: absolute;
      content: "";
      top: 0px;
      right: -3px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: red;
}

.pin-recovered {
      border-right: 2px solid rgba(0, 255, 0, 0.2);
      position: relative;
      width: 6px;
      margin-right: 5px;
}

.pin-recovered::after {
      position: absolute;
      content: "";
      top: 0px;
      right: -3px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: green;
}

.plot {
      height: 280px;
      width: 100%;
      overflow-y: hidden;
      overflow-x: scroll;
}

.btn-circle {
      border: 0;
      outline: 0;
      background-color: #ebecf0;
      box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
      transition: 0.4s;
      border-radius: 50px;
      height: 50px;     
      width: 50px;
}

.btn-circle:hover {
      box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.btn-circle:active {
      box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.pieChart {
      width: 400px;
      height: 400px;
      border-radius: 100%;
}

@media only screen and (max-width: 576px) {
      .pieChart {
            width: 200px;
            height: 200px;
      }
}
